.App {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-rows: 70px 100px 15% 75%;
}

.Header {
  grid-column: 2/2;
  grid-row: 1/1;
  vertical-align: middle;
  border: solid orange;
  border-width: 0px 0px 4px 0px;
}

.MenuWrapper {
  grid-column: 2/2;
  grid-row: 2/2;
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  border: solid orange;
  border-width: 0px 0px 4px 0px;
}

.SelectionWrapper {
  grid-column: 1/1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.SelectDegree {
  grid-column: 1/1;
  position: relative;
  top: 40%;
  margin-right: 20px;
}

.SelectDegreeButton {
  grid-column: 2/2;
}

.SelectModule {
  grid-column: 3/3;
  position: relative;
  top: 40%;
}

.DegreeSelection {
  grid-column: 2/2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.ModuleSelection {
  grid-column: 3/3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.DataWrapper {
  grid-column: 2/2;
  grid-row: 3/3;
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  border: solid orange;
  border-width: 0px 0px 4px 0px;
  min-height: 300px;
  padding: 20px;
}

.InputModuleName {
  grid-row: 1/1;
}

.InputModuleNumber {
  grid-row: 2/2;
}

.InputModuleType {
  grid-row: 3/3;
}

.ModuleEcts {
  grid-row: 4/4;
}

.ModuleSws {
  grid-row: 5/5;
}

.ModuleExam {
  grid-row: 6/6;
}

.ButtonWrapper {
  grid-row: 7/7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 7fr;
  margin-top: 10px;
}

.Button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.ModuleInput {
  width: 400px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


